@import "mixing";
@import "variable";

.footmaincom {
  padding: 12.5px 25px;
  background-color: #e9eaf8;
}

.footer {
  background-color: $foot-footer-bg;
  padding: 40px 20px;
  color: $foot-footer-text-color;
  border-radius: 20px;

  .footmainwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-column {
    flex: 1 1 200px;
    margin: 10px;

    h3 {
      font-size: 20px;
      line-height: 29px;
      margin-bottom: 15px;
      color: #ffffff;
    }

    p {
      @include font-styles(17px, 500, 28.9px);
      color: $foot-secondary-color !important;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        margin-bottom: 8px;

        a {
          @include font-styles(17px, 500, 28.9px);
          color: $foot-secondary-color !important;
          text-decoration: none !important;
          transition: color 0.3s;

          @include hover-effect($color-highlight);
        }
      }
    }

    // Move form styles inside footer-column
    form {
      display: flex;
      margin-top: 10px;
      width: 100%;

      input[type="email"] {
        padding: 10px !important;
        border: 1px solid $foot-input-border-color !important;
        border-radius: 8px 0 0 8px !important;
        flex: 1 !important;
        background-color: $foot-input-bg-color !important;
        color: #959ca9 !important;
        width: 100% !important;
      }

      button {
        padding: 10px 20px !important;
        background-color: $color-highlight !important;
        color: $color-white !important;
        border: none !important;
        cursor: pointer !important;
        transition: all 0.3s ease !important;
        border-radius: 0 8px 8px 0 !important;
        font-weight: 600 !important;
        font-size: 17px !important;
        line-height: 28.9px !important;
        white-space: nowrap !important;

        &:hover {
          background-color: $color-white !important;
          color: $color-highlight !important;
        }
      }
    }
  }

  h2 {
    font-size: 24px;
    color: #ffffff;
  }

  .foot1info {
    margin-top: 24px;
    margin-bottom: 31px;
    @include font-styles(17px, 500, 28.9px);
    color: $foot-secondary-color !important;

    .footername {
      @include hover-effect($color-highlight);
    }
  }

  .foot1info2 {
    @include font-styles(17px, 500, 28.9px);
    color: $foot-secondary-color !important;
    text-decoration: none !important;

    @include hover-effect($color-highlight);
  }

  .social-icons {
    display: flex;
    gap: 14px;

    a {
      color: $foot-footer-text-color;
      font-size: 18px;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: #ffffff;
      }
    }
  }
}

// Responsive
@media (max-width: 768px) {
  .footer {
    .footmainwrap {
      flex-direction: column;
      align-items: center;
    }

    .footer-column {
      margin-bottom: 20px;
      text-align: center;
      width: 100%;

      form {
        flex-direction: column;
        align-items: center;
        gap: 10px;

        input[type="email"] {
          border-radius: 8px !important;
          margin-bottom: 10px;
        }

        button {
          border-radius: 8px !important;
          width: 100%;
        }
      }
    }

    .social-icons {
      justify-content: center;
    }
  }
}

// Define home mixins for reusable properties
@mixin text-styles($font-weight, $font-size, $line-height, $color) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

// navbar Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin nav-link-style {
  font-weight: $font-weight-nav;
  font-size: $font-size-nav;
  line-height: $line-height-nav;
  color:$color-highlight;
}

@mixin dropdown-base {
  display: flex;
  gap: 16px;
  align-items: center;
  position: relative;
  cursor: pointer;
}

