@import "mixing";

// Variables
$main-bg-color: #e9eaf8;
$white-color: white;
$border-radius: 20px;
$text-color-dark: #343f52;
$text-color-light: #aab0bc;
$text-color-muted: #9499a3;
$button-bg-color: #747ed1;
$button-hover-bg-color: #e9eaf8;
$button-hover-color: #747ed1;
$button-border-color: #747ed1;
$button-font-color: white;
$font-weight-bold: 600;
$font-size-small: 16px;
$font-size-medium: 42px;
$line-height-small: 21.6px;
$line-height-medium: 50.4px;
$max-width-main: 778.86px;

// Styles
.ourprojectmain {
  background-color: $main-bg-color;
  padding: 12.5px 25px;
}

.ourprojectsemimain {
  background-color: $white-color;
  border-radius: $border-radius;
}

.projectheadmain {
  font-weight: $font-weight-bold !important;
  font-size: $font-size-small !important;
  line-height: $line-height-small !important;
  color: $text-color-light !important;
  margin-bottom: 15px;
}

.projectparahead {
  font-weight: $font-weight-bold !important;
  font-size: $font-size-medium !important;
  line-height: $line-height-medium !important;
  color: $text-color-dark !important;
  max-width: $max-width-main !important;
  text-align: center !important;
  margin-bottom: 50px !important;
}

.projectwrap {
  @include flex-center-ourpro;
  flex-direction: column;
}

.ourprojectcon {
  padding: 0 !important;
}

.ourprojectconsemimain {
  padding: 140px 0;
}

@media (max-width: 768px) {
  .ourprojectconsemimain {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

// For mobile screens and below
@media (max-width: 480px) {
  .ourprojectconsemimain {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.grid-container {
  @include grid-layout-ourpro(3, 80px);

  @media (max-width: 1200px) {
    @include grid-layout-ourpro(2, 80px);
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  cursor: pointer;
}

.projecthead {
  font-weight: $font-weight-bold;
  font-size: 22px;
  line-height: 30.8px;
  color: $text-color-dark;
  margin-top: 31px;
  text-align: left;
}

.projectpara {
  font-weight: $font-weight-bold !important;
  font-size: 14px !important;
  line-height: 23.8px !important;
  color: $text-color-muted !important;
  text-align: left !important;
  margin-top: 12.79px !important;
}

.projectbutton {
  color: $button-font-color;
  font-size: 17px;
  line-height: 28.9px;
  font-weight: $font-weight-bold;
  padding: 19px 30px;
  background-color: $button-bg-color;
  border: $button-border-color;
  border-radius: 100px;
  margin-top: 50px;

  @include button-hover-ourpro;
}

.probuttonholder {
  @include flex-center-ourpro;
}

.ourprojectfinalimage {
  width: 100%;
}

@media (max-width: 992px) {
  .projectheadmain {
    font-size: 13px !important;
    line-height: 18px !important;
  }

  .projectparahead {
    font-size: 32px !important;
    line-height: 38.4px !important;
  }
}

@media (max-width: 768px) {
  .projectheadmain {
    font-size: 12px !important;
    line-height: 16px !important;
  }

  .projectparahead {
    font-size: 28px !important;
    line-height: 33.6px !important;
    margin-bottom: 40px !important;
  }
}

@media (max-width: 576px) {
  .projectheadmain {
    font-size: 11px !important;
    line-height: 15px !important;
  }

  .projectparahead {
    font-size: 24px !important;
    line-height: 28.8px !important;
    margin-bottom: 30px !important;
  }
}
